div.root {
  background: hsl(var(--clr-white));
  border-radius: 2rem;
  box-shadow: 0 2.5rem 2.5rem hsl(var(--clr-black) / 5%);
  max-width: 32rem;
  padding: 1.6rem;
  & > img {
    border-radius: 1rem;
    display: block;
    margin-bottom: 2.4rem;
    max-width: 100%;
  }
  & > div {
    margin-bottom: 2.4rem;
    & > h1 {
      color: hsl(var(--clr-dark-navy));
      font-family: var(--font);
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 1.6rem;
      text-align: center;
    }
    & > p {
      color: hsl(var(--clr-grey));
      font-family: var(--font);
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.188px;
      line-height: 19px;
      padding: 0 1.6rem;
      text-align: center;
    }
  }
}
